body {
   background-color: rgb(234, 245, 255);
}

* {
   box-sizing: border-box;
}

.wrapper {
   height: 100%;
}

button {
   margin-top: 20px;
}

[type=checkbox] {
   margin-top: 20px;
}

.box {
   margin: 30px;
   width: 200px;
   height: 200px;
   border: 1px solid #333;
}

.ajax {
   margin-top: 40px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.ajax-post__btn {
   border: 1px solid #333;
}